body {
    font-family: "Oswald", sans-serif;
    background-color: #B0D1D9;
}

#header {
    overflow: hidden;
}

.logo, .navigation {
    width: 50%;
}

.logo {
    float: left;
    color: #734226;
}

.logo h1, .logo p {
    margin: 0;
    padding: 0;
}

.logo h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}   

.navigation {
    float: right;
    text-align: center;
    padding-top: 10px;
}

.navigation a {
    padding: 10px;
    text-decoration: none;
    color: #734226;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navigation a:hover {
    text-decoration: overline;
}

.btn-default {
    border: 1px solid #734226;
}

.intro-text h1 {
    color: white;
    font-size: 5em;
    text-align: center;
}

.intro-social a {
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #B0D1D9; 
    padding: 10px 0;
    border-bottom: 1em;
}

.intro-icon {
    height: 5em;
    width: 5em;
    margin-right: 20px;
}

.intro-icon:hover {
    color: #F2B077;
}

#map-statistics {
    text-align: center;
    padding-top: 10px;
}

#footer {
    margin: 15px 0;
    text-align: center;
    color: #734226;
}

/* Telefonui */

@media only screen and (max-width: 600px) {
    .logo, .navigation {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .logo {
        float: none;
    }

    .navigation {
        float: none;
    }

    .intro-social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .intro-social a {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

/* Plansetei, didesniam ekranui */

@media only screen and (min-width: 601px) {
    .logo, .navigation {
        width: 50%;
    }

    .intro-social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.map-statistics-container {
    padding: 20px;
    display: flex;
    place-content: stretch center;
    align-items: stretch;
    background-color:#B0D1D9;
}

.map-statistics-container > div {
    max-width: 1300px;
}


.info-header {
    margin: 0 30px;
}


.iframe-blocks {
    display: flex;
    place-content: stretch center;
    align-items: stretch;
    flex-wrap: wrap;
}

.iframe-block:not(:last-child) {
    margin-right: 10px;
}

.iframe-header {
    margin: 0 30px;
    height: 150px;
}

.iframe-content {
    height: 450px; 
}